
video {
  width: 100%    !important;
  height: auto   !important;
}

img {
  width: 100%    !important;
  height: auto   !important;
  #scale-down {
    height: 60%;
}
}

[data-hd-class="task/steps-informal"] {
  background-color: gray;
  border-color: black;
}

